.homepage {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    h1{
        color: $clr1;
    }
    p{
        color: $clr2;
    }
    ::selection {
        background-color: $clr4;
    }
    .logo-info {
        width: 50%;
    }
}
.login-signup-container {
    width: 40%;
    p {
        margin: 0 0 15px 0;
        font-size: rem(15px);
        span {
            font-weight: bold;
            cursor: pointer;
            color: $clr3;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        .my-btn{
            background-color: $clr2;
        }
        div {
            width: 100%;
            margin-bottom: 5px;
        }
        .profile-picture {
            width: 100%;
            max-height: 150px;
            margin-bottom: 15px;
            img {
                object-fit: cover;
                width: 100%;
                max-height: 150px;
            }
        }
        .new-picture {
            label {
                img {
                    width: 50px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 770px) {
    .homepage {
        flex-direction: column;
        .login-signup-container {
            width: 100%;
        }
        .logo-info {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}
